@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #1C1C1E;
}

.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  max-width: 512px;
  max-height: 512px;
}

h1{
  font-size: 1.5em;
  color:#fff;
  text-align: center;
}

.input-box{
  position: relative;
  margin: 15px 0;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

.input-box div{
  margin: 10px;
}

.input-box div label{
  cursor: pointer;
}

input[type="checkbox"]{
  display: none;
} 

.input-box div label span{
  position: relative;
  display: inline-block;
  background: #303f9f;
  padding: 15px 30px;
  color: #ccc;
  text-shadow: 0 1px 4px rgba(0,0,0,.5);
  border-radius: 30px;
  transition: 0.5s;
  user-select: none;
  overflow: hidden;
}

.input-box div label span::before{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, .1);
}

.input-box div:nth-child(1) label input[type="checkbox"]:checked ~ span{
  background: #44B3C2;
  color: #fff;
  box-shadow: 0 2px 20px #44B3C2;
}

.input-box div:nth-child(2) label input[type="checkbox"]:checked ~ span{
  background: #F1C40F;
  color: #fff;
  box-shadow: 0 2px 20px #F1C40F;
}

input.btn-login{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #2C3E50;
  color: #f3f3f3;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
}

.note{
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  color: #f3f3f3;
}