@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1C1C1E;
  height: 100vh;
  width: 100%;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.insuficient{
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.popup .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #1C1C1E;
  opacity: 0.7;
  z-index: 1;
  display: none;
}

.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #2C3E50;
  z-index: 2;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  width: 90%;
  border-radius: 10px;
}

.popup .title {
  color: #fff;
  font-size: 23px;
  font-weight: 400;
}

.popup .description {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
}

.popup .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  background: #44B3C2;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.credit-box{
  display: flex;
  align-items: center;
  justify-content: center ;
  background: #ccc;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  width: 90%;
}

  .credits{
    text-decoration: none;
    color:#fff;
    border: none;
    background: transparent;
  }
  
  .credits-box{
    display: flex;
    align-items: center;
    justify-content: center ;
    background: #ccc;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    width: 90%;
 }

ion-icon{
  color: #fff;
}

.back-btn{
  background-color: #F1C40F;
  padding: 5px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  text-decoration: none;
  color:#fff;
  width: 90%;
}