@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1C1C1E;
  height: calc(120vh + 70px);
  width: 100%;
  padding: 3px;
}

.flex-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
  /* border: 1px solid #333; */
  padding: 5px;
  margin: 10px 10px 30px 10px;
}

.search-bar input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}

ion-icon{
  color: #f3f3f3;
}

.search-bar button[type="submit"] {
  border: none;
  font-size: 1.2em;
  background: none;
  outline: none;
  color: #333;
  margin-left: 10px;
  cursor: pointer;
}


.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 100px;
  width: 100%;
}

.flex-container a{
  text-decoration: none;
}

.cards{
  display: flex;
  flex-direction: row;
	justify-content: center;
  padding: 0 10px 0 10px;
  margin-bottom:0px;
  width: 100%;
}

.margin-bottom{
  margin-bottom: 15px;
}

.card{
  display: flex;
  background-color: #2C3E50;
	border-radius: 10px;
  margin-bottom: 10px;
}

.card.hidden {
  display: none;
}


.card img{
  display: block;
  object-fit: cover;
	width: 170px;
  height: 170px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-area{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
  word-break: break-word;
  width: 100%;
}

.flex-del{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service-title{
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}

.card h2{
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
}

.card span{
  display: block;
  font-size: 10px;
  color: #ccc;
}

.delete-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 3px;
  width: 100%;
  background-color: #fc4c4c;
  color: #f3f3f3;
  border-radius: 10px;
  cursor: pointer;
}

