@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1C1C1E;
  height: calc(120vh + 70px);
  width: 100%;
  padding: 3px;
}

.flex-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  border-radius: 5px;
  /* border: 1px solid #333; */
  padding: 5px;
  margin: 10px 10px 30px 10px;
}

.search-bar input[type="text"] {
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  padding: 5px;
  font-size: 1em;
}

ion-icon{
  color: #f3f3f3;
}

.search-bar button[type="submit"] {
  border: none;
  font-size: 1.2em;
  background: none;
  outline: none;
  color: #333;
  margin-left: 10px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 100px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0 5px 0 5px;
  margin-bottom: 0px;
}

.card {
  background-color: #2C3E50;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  width: calc(50% - 20px);
}

.card.hidden {
  display: none;
}

.card img {
  display: block;
  margin: 0 auto;
  object-fit: cover;
  width: 162.5px;
  height: 162.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.info-area {
  padding: 5px;
}

.card h3 {
  font-size: 1em;
  font-weight: 300;
  color: #fff;
}

.service-title{
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card h2 {
  font-size: 1.3em;
  font-weight: 500;
  color: #fff;
}

.card span {
  display: block;
  font-size: 10px;
  color: #ccc;
}




