@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1C1C1E;
  height: calc(120vh + 70px);
  width: 100%;
  padding: 3px;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom:100px ;
}
.profile-card{
  overflow: hidden;
  margin: 10px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #2C3E50;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

h1{
  font-size: 1.7em;
  color:#fff;
  text-align: center;
}

.info{
  color: #ccc;
  font-size: 11px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-style: italic;
}

h3{
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}
h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background: #F1C40F;
}
.file-box{
  position: relative;
  margin: 30px 0;
  max-width: 450px;
  min-width: 100px;
}

.file-input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input[type="file"]{
  display: none;
}

.inputFile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: relative;
  background-color: #44B3C2;
  color: #fff;
  font-size: 18px;
  width: 80%;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
} 

#num-of-files{
  color: #ccc;
  font-size: 12px;
  font-weight: 300;
  margin-top: 5px;
}

#images{
  width: 90%;
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap:5px;
  flex-wrap: wrap;
}

figure{
  width: 100%;
}

img{
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

figCaption{
  color: #ccc;
  text-align: center;
  font-size: 12px;
  font-weight: 300px;
  margin-top: 5px;
  word-wrap: break-word;
}

.remove-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.remove-button{
  background-color: #fc4c4c;
  color: #fff;
  padding: 7px;
  border-radius: 10px;
  border: none;
}

.input-box{
  position: relative;
  margin: 30px 0;
  max-width: 450px;
  min-width: 100px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-box label {
  color: #ccc;
}

textarea{
  border-radius: 10px;
  resize: vertical;
  width: 100%;
  padding: 0 35px 0 10px;
  font-size: 1em;
}

.input-box input{
  width: 100%;
  height: 30px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1em;
  padding: 0 35px 0 10px;
  color: #222;
}

input.btn-login{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #44B3C2;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}