@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1C1C1E;
  min-height: 100vh;
  width: 100%;
  border-radius: 50%;
  padding: 3px;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-card{
  margin: 10px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #2C3E50;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

h1{
  font-size: 1.7em;
  color:#fff;
  text-align: center;
}

.input-box{
  display: flex;
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid transparent;
}

.input-box label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  color: #ccc;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus ~ label,
input:valid ~ label,
textarea:valid ~ label{
  top:-10px;
}

textarea{
  color: #222;
  font-size: 1em;
  border-radius: 10px;
  resize: vertical;
  width: 100%;
  padding: 0 35px 0 10px;
  background: #fff;
  border: none;
}

.input-box input{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  background: #fff;
  border:none;
  border-radius: 10px;
  font-size: 1em;
  padding: 0 35px 0 10px;
  color: #222;
}

input[type="file"]{
  background: none;
}

#image{
  max-width: 90%;
  word-wrap: break-word;
  margin-top: 8px;
  color: #ccc;
  cursor: pointer;
  padding-left: 2px;
  border-radius: 10px;
}

.input-box ion-icon{
  position: absolute;
  right: 8px;
  color:#ccc;
  font-size: 1.2em;
  top:10px
}

input.btn-login{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #44B3C2;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

#imageFile{
  top:5px
}