 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: #1C1C1E;
}

.form-box{
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img{
  max-width: 512px;
  max-height: 512px;
}

h1{
  font-size: 2em;
  color:#fff;
  text-align: center;
}

.input-box{
  position: relative;
  margin: 30px 0;
  width: 310px;
  /* border-bottom: 2px solid #fff; */
}

.input-box input:focus {
  outline: none;
  border-bottom-color: #44B3C2;
  transition: border-bottom-color 0.3s ease-in-out;
}

.input-box label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
  top:-5px;
}

.input-box input{
  width: 100%;
  height: 50px;
  background: transparent;
  border-bottom: 2px solid #fff;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}

.input-box ion-icon{
  position: absolute;
  right: 8px;
  color:#fff;
  font-size: 1.2em;
  top:20px
}

.forget{
  margin: -15px 0 15px;
  font-size: .9em;
  font-weight: 600;
  color: #fff;
  display: flex;
  justify-content: center;
}

.forget label input{
  margin-right: 3px;
}

.forget a{
  color: #fff;
}

.forget label a:hover{
  text-decoration: underline;
}

.error-message {
  display: none;
}

.message{
  text-decoration: none;
  color: #44B3C2;
  text-align: center;
  font-weight: 500;
}

#message{
  text-decoration: none;
  margin-top: 10px;
  color: #44B3C2;
  text-align: center;
  font-weight: 500;
}

.registration-message {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #44B3C2;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}

input.btn-login{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #2C3E50;
  color: #f3f3f3;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}

.register{
  font-size:.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}

.register a{
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.register a:hover{
  text-decoration: underline;
}

  